.borde{
	border:1px solid black;
}

.navbar-radius{
	border-radius:17px 0px 0px 17px;
}

.margin-top-5{
	margin-top:5px;
}

.margin-top-10{
	margin-top:10px;
}

.margin-top-15{
	margin-top:15px;
}

.margin-top-20{
	margin-top:20px;
}