body{
	background:#cfcfcf;
}
header{
	margin-top:10px;
}

.nopadding{
	padding:0 !important;
}

.nomargin{
	margin:0 !important;
}

.img-navbar-nav{
	padding:5px;
	width:220px;
}
.contenedores{
	
	
}

/*#icon_cont1{
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}*/

.custom-navbar{
	position:fixed;
	width:100%;
	z-index:10000;
}

.slideshow{
	background:url(http://localhost:8080/infortran/assets/img/slider1.jpg);
	height:350px;
	background-attachment:fixed;
	background-repeat:no-repeat;
}

.parallax-window{
	
	min-height:400px;
	
}

.tri-banner{
	border-radius:5px;
	border:3px solid #cb6018;
	background:rgba(255,255,255,.7);
	min-height:300px;
	text-decoration:none;
	color:#a0a0a0;
}

.btn-navbar{
	background:rgba(160,160,160,.3);
	box-shadow:0px 0px 25px rgba(0,0,0,.7);
	cursor:pointer;
}


.borde{
	border:1px solid black;
}

.navbar-radius{
	border-radius:17px 0px 0px 17px;
}

.navbar-radius-inverse{
	border-radius: 0px 17px 17px 0px ;
}
.div-hover{
	padding:15px;
	background:rgba(255,255,255,.4);
	cursor:pointer;
}

.div-hover:hover{
	background:rgba(0,0,0,.4);
	color:white;
}

.display-none{
	display:hidden;
}

.icon-design{
	color:#cb6018;
	font-size:110px;
}

.margin-top-5{
	margin-top:5px;
}

.margin-top-10{
	margin-top:10px;
}

.margin-top-15{
	margin-top:15px;
}

.margin-top-20{
	margin-top:20px;
}

.margin-top-25{
	margin-top:25px;
}

.margin-top-30{
	margin-top:30px;
}

.margin-top-35{
	margin-top:35px;
}

.margin-top-40{
	margin-top:40px;
}

.margin-top-45{
	margin-top:45px;
}

.margin-top-50{
	margin-top:50px;
}

.margin-top-55{
	margin-top:55px;
}
.margin-top-60{
	margin-top:60px;
}
.margin-top-65{
	margin-top:65px;
}
.margin-top-70{
	margin-top:70px;
}

.glyphicon.spinning {
    animation: spin 1s linear;
    -webkit-animation: spin2 1s linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

@media(max-width:990px){
	.navbar-radius{
		border-radius:17px 17px 0px 0px;
	}

	.navbar-radius-inverse{
		border-radius: 0px 0px 17px 17px ;
	}
}