body{
	background:#cfcfcf;
}
header{
	margin-top:10px;
}

.nopadding{
	padding:0 !important;
}

.nomargin{
	margin:0 !important;
}

.img-navbar-nav{
	padding:5px;
}
.contenedores{
	height:500px;
	background:#efefef;
	
}


.custom-navbar{
	position:fixed;
	width:100%;
	z-index:10000;
}

.slideshow{

}

.btn-navbar{
	background:rgba(160,160,160,.3);
	box-shadow:0px 0px 25px rgba(0,0,0,.7);
	cursor:pointer;
}


.borde{
	border:1px solid black;
}

.navbar-radius{
	border-radius:17px 0px 0px 17px;
}

.navbar-radius-inverse{
	border-radius: 0px 17px 17px 0px ;
}
.div-hover{
	padding:15px;
	background:rgba(255,255,255,.4);
	cursor:pointer;
}

.div-hover:hover{
	background:rgba(0,0,0,.4);
	color:white;
}

.display-none{
	display:hidden;
}

.margin-top-5{
	margin-top:5px;
}

.margin-top-10{
	margin-top:10px;
}

.margin-top-15{
	margin-top:15px;
}

.margin-top-20{
	margin-top:20px;
}

.margin-top-25{
	margin-top:25px;
}

.margin-top-30{
	margin-top:30px;
}

.margin-top-35{
	margin-top:35px;
}

.margin-top-40{
	margin-top:40px;
}

.margin-top-45{
	margin-top:45px;
}

.margin-top-50{
	margin-top:50px;
}